div {
    font-family:sans-serif;
    text-align: center;
    margin-top: 2%;
}

.date {
    font-size: small;
    font-weight: bold;
}

.button1 {
    background-color: rgba(35, 0, 235, 0.795);
    color: white;
    width: 200px;
    height: 25px;
    margin: 15px;
    border-radius: 5px;
    text-transform: capitalize;
}

#intro {
    text-transform: capitalize;
}

/* HMTL SECTION */


#resumeimg {
height: 400px;
width: 300px;
}


/* CSS SECTION */

.CSSCOMPARE {
    height: 300px;
}
 
.sqrimg {
    height: 400px;
}

.CSSCascade {
    height: 400px;
}

.csspositioningimg {
    height: 250px;
}

.css-position-img {
    height: 300px;
    padding-top: 20px;
    display: inline-block;
}
#css-position-img2 {
    padding-left: 20px;
}

.css-float1 {
    height: 300px;
}


